<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
-->

<div class="row marketing">
  <div class="container main_cont">
      <img src="images/pista_logo.png" class="img-responsive center-block" alt="">
      <span class="text-center">
          <h3>
            Suportes, Bandejas e Adornos para a decoração de sua festa.
          </h3>        
      </span>
      
  </div>
  

</div>
