

<div class="row">
   <div class="container">
<!--       <img src="images/pista_sobre.jpg" alt="" class="img-thump img-responsive">-->
       <h1>Quem Somos</h1>
       <article class="feature">
           <figure class="pull-left sobre_figure">
               <img src="images/pista_sobre.jpg" alt="" class="img_sobre img-rounded" />
                   
           </figure>
       
       
       

           <p>A Pistache nasceu após a aventura de fazer meu próprio casamento, em novembro de 2015. 
           <br>Desde então, me apaixonei por esse mundo de decoração de festas/wedding e a cada dia neste novo mundo para mim, encontro novos amigos e me sinto feliz. 
           <br>O diferencial da Pistache Locações é oferecer um serviço personalizado e com muito carinho para cada cliente. Nosso estoque de peças está sempre em renovação e atento as novas tendências. E a nossa equipe está sempre pronta para ajudar a realizar sonhos.
           <br>
           <br>
           Desejo que a Pistache seja Cores e Flores nos momentos mais marcantes da vida de vocês. </p>    

       </article>
   </div>
   
    
    
</div>